.details-container {
  padding: 48px;
}

.carousel-container {
  margin: auto;
  width: 800px;
}

.stage-breakdown-title {
  color: white;
}

.radial-chart-container {
  height: 450px;
  padding: 40px;
}

.linegraph-container {
  background: white;
  height: 450px;
  width: 700px;
}
